<td><%= student_answer.variable %></td>
<td><%= studentt_answer.role %></td>
<td><%= button_tag link_to 'Delete', [student_answer.code, student_answer], method: :delete, data: {confirm: 'Are you sure?'} %></td>
<tr></tr>