<div id="list_comments">
<% code = Code.find(@discussion.code_id) %>
<% quiz = Quiz.find(code.quiz_id) %>
<% course_user = CourseUser.find_by(uni_ID: current_user.username, course_id: quiz.course_id) %>
<h2>Comments</h2>
<% $comment_count = 0 %>
<% @discussion.comments.each do |comment| %>
<% $comment_count += 1 %>
<% commenter = CourseUser.find_by(uni_ID: comment.uni_id, course_id: quiz.course_id) %>
<% if comment.team_id == course_user.team_id %>
  <p>
    <strong><%= commenter.first_name %>&nbsp<%= commenter.last_name %></strong>&nbsp<%= l comment.updated_at %>
    <%= comment.body %>
  </p>
<% end %>
<% end %></div>

