button, select {
color: #1D9AF2;
background-color: white;
border: 1px solid #1D9AF2;
border-radius: 4px;
padding: 15px 18px 30px 15px
cursor: pointer;
height:34px;
text-align: center;
font-size:14px;
box-shadow: 0 0 4px #999;
background-position: center;
transition: background 0.8s;
}
input[type="submit"] {
color: #1D9AF2;

border: 1px ;
border-radius: 4px;
padding: 15px 18px 30px 15px
cursor: pointer;
height:34px;
text-align: center;
font-size:14px;
box-shadow: 0 0 4px #999;
background-position: center;
transition: background 0.8s;
}
button:hover {
background:#47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
color: white;
}
select:hover {
background:#47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
color: white;
}
input[type="submit"]:hover {
background:#47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
color: white;
}
select:active{
background-color:#292d3e;
background-size: 100%;
transition: background 0s;
}
button:active{
background-color:#292d3e;
background-size: 100%;
transition: background 0s;
}
input[type="submit"]:active {
background-color:#292d3e;
background-size: 100%;
transition: background 0s;
}